[submodule "ostree"]
	path = ostree
	url = https://github.com/GrabbenD/ostree-utility.git
[submodule "client"]
	path = client
	url = https://github.com/GrabbenD/ostree-desktop.git
[submodule "server"]
	path = server
	url = https://github.com/GrabbenD/ostree-homelab.git
